= form_for @stock_interval do |f|
  - if @stock_interval.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stock_interval.errors.count, "error")} prohibited this stock_interval from being saved:"
      %ul
        - @stock_interval.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ticker
    = f.text_field :ticker
  .field
    = f.label :open
    = f.text_field :open
  .field
    = f.label :close
    = f.text_field :close
  .field
    = f.label :interval
    = f.datetime_select :interval
  .field
    = f.label :volume
    = f.number_field :volume
  .field
    = f.label :percChange
    = f.text_field :percChange
  .actions
    = f.submit 'Save'
