%h1= "Listing transactions for " + @ticker

%table
  %thead
    %tr
      %th Ticker
      %th Open
      %th Close
      %th Interval
      %th Volume
      %th Percchange
      %th
      %th

  %tbody
    - @stock_intervals.each do |stock_interval|
      %tr
        %td= stock_interval.ticker
        %td= stock_interval.open
        %td= stock_interval.close
        %td= stock_interval.interval
        %td= stock_interval.volume
        %td= stock_interval.percChange
        %td= link_to 'Edit', edit_stock_interval_path(stock_interval)
        %td= link_to 'Destroy', stock_interval, :method => :delete, :data => { :confirm => 'Are you sure?' }


= link_to 'Back', stock_intervals_path
